body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #332D56;

    #headerContainer {
        width: 70%;
        padding: 2rem;
        display: flex;

        #titleSection {
            display: flex;
            flex: 1;

            h1 {
                margin: 0;
                padding: 0;
                color: white;
                flex: 1;
            }

            button {
                display: none;
                flex: 0;
                background-color: white;
                border-style: none;
                border-radius: 10px;

                img {
                    margin: 0;
                    height: 2rem;
                }
            }

            @media (max-width: 768px) {
                button {
                    display: block;
                }
            }
        }

        .itemsSection {
            transition: 0.3s;
            display: flex;
            list-style: none;
            gap: 2rem;
            padding: 0;

            li {
                a {
                    transition: 0.3s;
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    color: orange;
                }
            }
        }

        @media (max-width: 768px) {
            .itemsSection {
                flex-direction: column;
            }

            .on {
                height: 6rem;
            }

            .off {
                height: 0;
                overflow: hidden;
            }
        }
    }

    @media (max-width: 768px) {
        #headerContainer {
            width: 100%;
            flex-direction: column;
        }
    }
}